.header {
  margin-top: 50px; }
  .header__logo {
    width: 200px;
    margin: 0 auto;
    display: block; }
  .header__title {
    text-align: center;
    margin-bottom: 3rem; }

.footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #ccc; }
  .footer__links {
    text-align: center; }
  .footer__link {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #ff2558; }

.code-snippet {
  margin-top: 1rem; }
  .code-snippet__arrow {
    display: inline-block;
    width: 0;
    height: 0; }
    .code-snippet__arrow--right {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #AAAAAA;
      border-right: 6px solid transparent; }
    .code-snippet__arrow--up {
      margin-right: 6px;
      margin-bottom: 3px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid #AAAAAA;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent; }
  .code-snippet__toggle-button {
    color: #ff2558;
    text-decoration: none; }
    .code-snippet__toggle-button:hover {
      color: #d80033; }

.features {
  overflow: hidden; }
  .features__point {
    margin-bottom: 0.5rem;
    font-weight: 200; }

.ofs-credit {
  margin-bottom: 1rem; }
  .ofs-credit__text {
    text-align: center;
    margin: 0;
    color: #999;
    margin-bottom: 0.5rem; }
  .ofs-credit__logo {
    display: block;
    width: 200px;
    margin: 0 auto; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 940px;
  margin: 0 auto; }

h1, h2, h3, h4 {
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-rendering: optimizeLegibility;
  color: #ff2558; }

.example-single, .example-multiple {
  width: 450px;
  float: left; }
  .example-single h2, .example-multiple h2 {
    text-align: center; }

.example-single {
  padding-right: 9px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-bottom: 20px; }
  .example-single .code-snippet {
    margin-top: 23px; }
