.react-choice-options {
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);

  &__list {
    background: #fff;
    border: 1px solid #D0D0D0;
    border-top: none;
    margin: 0;
    padding: 0;
  }
}
