.react-choice-value {
  float: left;
  border: 1px solid #eee;
  margin-right: 5px;
  padding: 4px;
  margin-bottom: 5px;

  &--is-selected {
    background: #eee;
  }

  &__delete {
    padding-left: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  &__children {
    display: inline-block;
  }
}
