.react-choice-wrapper {
  overflow: hidden;
  font-family: inherit;
  border: 1px solid #ccc;

  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: .875rem;
  margin: 0;
  padding: .5rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
  -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
  transition: box-shadow .45s, border-color .45s ease-in-out;
}
