.react-choice-wrapper {
  overflow: hidden;
  font-family: inherit;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

.react-choice-input {
  cursor: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-color: transparent;
  font-family: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 0.875rem; }
  .react-choice-input:focus {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none; }

.react-choice-single {
  height: 2.3125rem; }
  .react-choice-single--not-in-focus {
    cursor: pointer;
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
    background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8); }
  .react-choice-single--in-focus {
    background: #fafafa;
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border-color: #999; }
  .react-choice-single__input {
    width: 100%; }

.react-choice-multiple {
  cursor: text;
  padding-bottom: 3px; }
  .react-choice-multiple:focus {
    outline: none; }
  .react-choice-multiple__input {
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 110px; }

.react-choice-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  cursor: pointer; }
  .react-choice-icon__arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-top: 50%; }
    .react-choice-icon__arrow--down {
      border-top: 6px solid #222;
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent; }
    .react-choice-icon__arrow--up {
      margin-top: 30%;
      border-top: 6px solid transparent;
      border-bottom: 6px solid #222;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent; }

.react-choice-options {
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }
  .react-choice-options__list {
    background: #fff;
    border: 1px solid #D0D0D0;
    border-top: none;
    margin: 0;
    padding: 0; }

.react-choice-option {
  cursor: pointer;
  padding: 6px 10px;
  font-size: 0.875rem; }
  .react-choice-option--selected {
    background: #eee; }

.text-highlight__match {
  font-weight: bold; }

.react-choice-value {
  float: left;
  border: 1px solid #eee;
  margin-right: 5px;
  cursor: pointer;
  padding: 4px;
  margin-bottom: 5px; }
  .react-choice-value--is-selected {
    background: #eee; }
  .react-choice-value__delete {
    padding-left: 5px;
    font-weight: bold; }
  .react-choice-value__children {
    display: inline-block; }

.react-choice {
  position: relative; }
